*{
	margin: 0;
    padding: 0;
}
.total{
    width: 100%;
    height: 100%;
    display: flex;
}
.divi1{
    width: 290px;
    height: 1080px;   
    background: #FFFFFF;
    box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03),35.0877px 0px 70px
     rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02);
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.img1{
    margin-top: 92px;
    margin-left:102px;
    margin-right: 102px;  
}
.centro{
    margin-left: 38px;
    margin-top: 56px;
}
.centro1{
    margin-left: 58px;
    margin-top: 15px;
    margin-bottom: 86px;
}
.centro2{
    margin-left: 38px;
    margin-top: 280px;
}
.divi2{
    width: 815px;
    height: 1080px;   
    background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
}
.reajuste{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 26px;
    margin-top: 109px;
    margin-left: 60px;
    margin-right: 80px;
}
.reajuste1{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;  
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #707C97;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 80px;
}
.reajuste2{
    width: 240px;
    height: 60px;
    background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
    border-radius: 6px;
    color: #0D1C2E;
    margin-top: 20px;
    margin-left: 244px;
    
}
.reajuste3{
    width: 580px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 24px;
    margin-left: 60px;
    margin-right: 80px;
}
.reajusteLuy{
    margin-top: 15px;
    width: 580px;
    height: 220px; 
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 80px;
}
.reajusteJared{
    width: 580px;
    height: 220px;
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 80px;
}
.reajusteNika{
    width: 580px;
    height: 200px;
    background: linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 80px;
}
.reajusteDavid{
    width: 580px;
    height: 246px;
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 80px;   
}
.divi3{    
    width: 815px;
    height: 1080px;
    background: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
}
.Nika{
    margin-top: 109px;
}
.Nika3{
    
    width: 520px;
    height: 85px;
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Nika4{
    width: 192px;
    height: 50px;
    margin-top: 15px;
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Nika5{
    margin-left: 556px;
    width: 195px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    border-radius: 10px 10px 0px 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.Nika6{
    width: 180px;
    height: 90px;   
    background: linear-gradient(90.54deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
    border-radius: 0px 10px 10px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.Nika7{
    margin-left: 556px;
    width: 200px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid rgba(112, 124, 151, 0.25);
    border-radius: 10px 10px 0px 10px;
    box-sizing: border-box;
    box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.icons{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #2A8BF2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:auto ;
}
.dime{
    width: 700px;
    height: 70px;
    border: 1px solid black;
    display: flex; 
    margin-left: 38px;
    margin-top: 280px;
    border-radius: 2px;
}
.icons1{
    margin-left: 400px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;  
}
.icons2{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #2A8BF2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;  
}
.p{
    margin-top: 20px;
    width: 191px;
height: 23px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: rgba(112, 124, 151, 0.5);

}